<div class="row" style="margin-top: 10px;">
  <div class="col-md-12">
    <h3>USUARIOS GITHUB</h3>
  </div>
</div>

<div class="row" style="margin-top: 50px;">
  <div class="col-md-4">
    <form class="d-flex" role="search" [formGroup]="forma" (ngSubmit)="buscarUsuarios()">
      <input class="form-control me-2" type="search" placeholder="Buscar usuario" aria-label="Search" formControlName="busqueda" name="busqueda">
      <button class="btn btn-outline-success" type="submit" [disabled]="forma.invalid">Buscar</button>
    </form>
  </div>
  <div class="col-md-8" style="text-align: right;">
    <button class="btn btn-outline-success" type="button" [disabled]="!(usuarios.length>0)" (click)="activarGrafica()" *ngIf="!banderaGrafica || !(usuarios.length>0)">Ver grafica</button>
    <button class="btn btn-outline-success" type="button" (click)="activarGrafica()" *ngIf="banderaGrafica">Ver tabla</button>
  </div>
</div>

<div class="row" style="margin-top: 20px;" *ngIf="!banderaGrafica">
  <table class="table table-striped table-hover">
    <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Login</th>
        <th scope="col">Id</th>
        <th scope="col">Score</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{usuario.login}}</td>
        <td>{{usuario.id}}</td>
        <td>{{usuario.score}}</td>
        <td><button type="button" 
                    class="btn btn-outline-primary" 
                    style="margin-right: 5px;" 
                    (click)="consultarPerfil(usuario.login, usuario.score)">Ver usuario</button></td>
      </tr>
    </tbody>
  </table>
</div>

<app-grafica-barras [users]="usuarios" *ngIf="banderaGrafica"></app-grafica-barras>
